*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 100px,
        #25283b22 100px 101px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 100px,
        #25283b22 100px 101px
    );
}

body::before{
    position: absolute;
    width: min(1400px, 90vw);
    top: 10%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: '';
    background-size: 100%;
    pointer-events: none;
}

.container{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.container .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 15%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 3;
}

@keyframes autoRun {
    from{
        transform: perspective(1000px) rotateX(-18deg) rotateY(0deg);
    }
    to{
        transform: perspective(1000px) rotateX(-18deg) rotateY(360deg);
    }
}

.container .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1)*(360 / var(--quantity)) *1deg))translateZ(425px);
}

.container .slider .item img{
    width: 70%;
    height: 70%;
    background-size: cover;
    border: none;
    border-radius: 8px;
    border: 1px solid white;
    /* box-shadow: 0px 0px 50px white; */
}

.container .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1080px,100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.container .content h1{
    font-family: 'ICA Rubrik',sans-serif;
    font-size: 10em;
    line-height: 1em;
    top: 30px;
    color: #25283b;
    position: relative;
}

.container .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px red;
    color: transparent;
}

.container .content .content1{
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}

.container .content h2{
    font-size: 3em;
}

.container .content .content2{
    background-image: url(images/model2.png);
    width: 100%;
    height: 72vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}
/* @supports (-webkit-text-stroke: 1px black) {
    h1{
      -webkit-text-stroke: 0.8px red;
      -webkit-text-fill-color: transparent;
    }
} */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    font-size: xx-large;
    color: red;
 }
.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(var(--row), 100px);
    margin-top: 50px;
    gap: 50px;
    /* font-weight: 600; */
}
.grid figure img{
    width: 100%;
    padding: 0px 40px;
    margin: 0px auto 30px;
}
.grid-2{
    /* color: whitesmoke; */
    --row: 8;
    font-size: 1.8em;
}
.grid-2 div:nth-child(1){
    grid-column: 1 / 4;
    grid-row: 3;
}
.grid-2 div:nth-child(2){
    grid-column: 4 / 7;
    grid-row: 1;
}
.grid-2 div:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 4;
}
.grid-2 div:nth-child(4){
    grid-column: 1 / 4;
    grid-row: 6;
}
.grid-3 {
    --row: 6;
    font-size: 12em;
}
.grid-3 div {
   grid-column: 2/ 6;
   text-wrap: nowrap;
}
.grid-3 div:nth-child(even) {
   text-align: right;
}
  /* .grid-3 div:nth-child(5) {
    grid-column: 1/ 6;
  } */
.grid-3 div:nth-child(4) {
   grid-column: 1/ 6;
}
.p1{
    color: white;
}
hr{
    border: none;
    background-color: #322D31;
    height:1px;
    margin-top: 5px;
}
footer{
    border-top: 1px solid #2E373A55;
    min-height: 100vh;
}
footer .content{
    width: min(1400px, 100vw);
    margin: auto;
    padding: 100px 20px;
}
.grid-5{
    --row: 5;
    font-size:1.7em;
}
.grid-5 div:nth-child(1){
    grid-row: 1;
    grid-column: 1 / 3;
}
.grid-5 div:nth-child(2){
    grid-row: 2;
    grid-column: 3 / 5;
}
.grid-5 div:nth-child(3){
    grid-row: 3;
    grid-column: 5 / 7;
}
.grid-5 div:nth-child(4){
    grid-row: 1;
    grid-column: 5 / 7;
}
/* #candy {
    width: 90%;
    margin: 180px auto 0;
} */
.f2{
    color: white;
}
.two{
    /* background-color: red; */
}
.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        filter: blur(100px);
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.autoBlur{
    animation: autoBLurAnimation linear both;
    animation-timeline: view();
}
@keyframes autoBLurAnimation{
    0%{
        filter: blur(40px);
    }
    45%, 55%{
        filter: blur(0px);
    }
    100%{
        filter: blur(40px);
    }
}

@media screen and (max-width:1080) {
    .container .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }    
    .container .slider .item{
        transform: rotateY(calc((var(--position) - 1)*(360 / var(--quantity)) * 1deg))translateZ(300px);
    }
    .container .content h1{
        text-align: center;
        width: 100%;
        text-shadow: 0px 10px 20px #000;
        font-size: 7em;
    }
    .container .content .content1{
        color: #fff;
        padding: 20px;
        text-shadow: 0px 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0px 30px;
    }
}

@media screen and (max-width:767px){
    .container .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .container .slider .item{
        transform: rotateY(calc((var(--position) - 1)*(360 / var(--quantity)) * 1deg))translateZ(180px);
    }
    .container .content h1{
        font-size: 5em;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}  
::-webkit-scrollbar-track{
    background-color: red;
}
::-webkit-scrollbar-thumb {
    background: yellow;
    border-radius: 4px;
}





